header {
  text-align: center;
  color: white;
  background-color: red;
  padding: 1em;
  font-family: "Courier New";
}

body {
  text-align: center;
  background-color: yellow;
  color: black;
  font-family: "Courier New";
}
